*{box-sizing: border-box}

.uk-notification{
  z-index: 2000 !important;
}

#rata{
  background-color: #000d1e !important;
}

body{
  padding-top: 80px;
  background-color: #000d1e;
}

div.pato {
  background-color: #00173a ;
}

h1.oso {
  color: #edf3fc;
}
